site_name: SolidAutomate

theme:
  name: material
  palette:
    - scheme: default
      primary: blue

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_signature: true
            docstring_style: google

nav:
  - Home: index.md
  - App:
    - core: core/index.md
    - gui: gui/index.md
    - utils: utils/index.md