site_name: SolidAutomate

theme:
  name: material
  palette:
    - scheme: default
      primary: blue

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            show_source: true
            show_signature: true
            docstring_style: google

nav:
  - Home: index.md
  - App:
    - CORE: core/index.md
    - GUI: gui/index.md
    - UTILS: utils/index.md